@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: #18181B;
}


@layer base {
    .wrapper {
        @apply flex flex-col text-white h-screen text-center tracking-wider;
        background-color: var(--bg);
    }

    .wrapper > p {
        color: #B5B5B5;
        @apply pt-3
    } 
}

@layer components {

    .nav {
        @apply flex-grow flex font-mono justify-center items-center;
      }
    
    .nav-item {
        @apply w-52 text-center text-white text-3xl tracking-wider p-1 place-self-center shrink-0
      }
    
    .nav-item:hover {
        @apply bg-zinc-700 rounded-md 
      }
    
    .login {
      @apply flex flex-col gap-2 text-white text-2xl my-auto rounded-xl self-center p-8 tracking-wider;
      width: 35rem;
      height: 35rem;
      background: #212123;
      color: #6C6C6C;
    }

    .button-inactive {
      @apply rounded-xl py-2 px-10 size-fit self-center text-white mt-2 bg-indigo-400;
    }

    .button-active {
      @apply rounded-xl py-2 px-10 size-fit self-center text-white mt-2 bg-indigo-600;
    }

    .button-active:hover {
      @apply bg-indigo-700 shadow-xl;
    }

    .button-active:active {
      @apply bg-indigo-800;
    }

    .login input {
      background: #3D3D3F;
      @apply  py-2 px-4 rounded-full w-full text-white;
    }

    .login h3 {
      @apply pl-3;
    }

    .google-icon {
      @apply w-24 self-center
    }

    .google-icon:hover {
      @apply bg-zinc-700 rounded-full p-1;
    }

    .error {
      @apply text-left text-sm ml-3 text-red-500 pt-1;
    }
}
