@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: #18181B;
}


@layer base {
    .wrapper {
        @apply flex flex-col text-white h-screen text-center tracking-wider;
        background-color: var(--bg);
    }
  
    .wrapper > p {
        color: #B5B5B5;
        @apply pt-3
    } 
}

@layer components {

    .nav {
        @apply flex-grow flex font-mono justify-center items-center sm:flex-col md:flex-row sm:gap-20; 
      }
    
    .nav-item {
        @apply w-52 text-center text-white text-3xl tracking-wider p-1 place-self-center shrink-0
      }
    
    .nav-item:hover {
        @apply bg-zinc-700 rounded-md 
      }

    .button-inactive {
      @apply rounded-xl py-2 px-10 size-fit self-center text-white mb-3 mt-1 bg-indigo-400;
    }

    .button-active {
      @apply rounded-xl py-2 px-10 size-fit self-center text-white mb-3 mt-1 bg-indigo-600;
    }

    .button-active:hover {
      @apply bg-indigo-700 shadow-xl;
    }

    .button-active:active {
      @apply bg-indigo-800;
    }

    .login input {
      background: #3D3D3F;
      @apply rounded-full w-full text-white md:py-2 px-4;
    }

    .login h3 {
      @apply pl-3;
    }

    .login {
      @apply flex flex-col gap-2;
      @apply text-white text-2xl tracking-wider;
      @apply my-auto self-center m-5;
      @apply rounded-xl pt-5 lg:w-2/5 xl:w-1/2 2xl:w-1/3 pb-3 p-8;      


      background: #212123;
      color: #6C6C6C;
    }

    .reg {
      @apply flex flex-col gap-2; 
      @apply text-white text-2xl tracking-wider;
      @apply  my-auto self-center m-5;
      @apply  rounded-xl pt-5 p-8 pb-3 lg:w-2/5 xl:w-1/2 2xl:w-1/3 md:pb-5; 

      background: #212123;
      color: #6C6C6C;
    }

    .reg input {
      background: #3D3D3F;
      @apply px-4 md:py-2 rounded-full w-full text-white
    }

     .reg h3 {
      @apply pl-3
     }

    .google-icon {
      @apply self-center w-16 md:w-24
    }

    .google-icon:active {
      @apply bg-zinc-700 rounded-full p-1;
    }

    .error {
      @apply text-left text-sm text-red-500 pt-1 ml-3;
    }
}
