@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: #18181B;
}


@layer base {
    .wrapper {
        @apply flex flex-col text-white h-screen text-center tracking-wider;
        background-color: var(--bg);
    }

    .wrapper p {
        color: #B5B5B5;
        @apply pt-3
    } 
}

@layer components {

    .nav {
        @apply flex-grow flex font-mono justify-center items-center;
      }
    
    .nav-item {
        @apply w-52 text-center text-white text-3xl tracking-wider p-1 place-self-center shrink-0
      }
    
    .nav-item:hover {
        @apply bg-zinc-700 rounded-md 
      }
}
